@font-face {
    font-family: 'freight';
    src: url('./assests/fonts/Freight\ Big\ Light.otf');
}

.body {
    background-color: #222224;
}

/* navbar styles */

.logo-img {
    width: 150PX;
    height: 50PX;
    border-radius: 15PX;
}

.nav-links a {
    font-family: "Questrial", sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2vh;
    color: white !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.nav-section {
    padding: 1rem 27px 0 27px;
    background-color: transparent;
    position: fixed;
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: 0 auto;
}

.nav-li:not(:last-child) a::after {

    content: '-';
    margin-right: 0.5vw;
    margin-left: 1.5vw;
}

@media screen and (max-width : 991px) {
    .nav-li:not(:last-child) a::after {
        content: '';
        margin-right: 0;
        margin-left: 0;

    }

    .nav-links {
        position: absolute;
        z-index: 1;
        top: 4rem;
        background: black;
        width: 94%;
        border-radius: 10px;
    }
}

.show {
    padding: 10px !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgb(255 255 255 / 10%);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}


/* home styles */

.home {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20vh 7vw; */

}

.flower-img {
    width: 75%;
    height: 70%;
    margin-right: 7rem;
}

.flower-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    background-size: cover;
}


.sign {
    position: absolute;
    left: 0;
    z-index: 1;
    margin-left: 2rem;
}

.sign img {
    width: 100%;
    height: 100%;
}

.name {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 66%;
    height: 500px;
    justify-content: space-evenly;
}

.name h1 {
    color: white;
    font-weight: 700;
    font-style: normal;
    font-family: 'freight', serif;
    line-height: 80%;
    font-weight: 400;
    font-size: 15vh;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.name p {
    color: white;
    font-style: normal;
    font-family: 'freight', serif;
    font-size: 2.5vw;
    letter-spacing: 0;
    width: 100% !important;
    padding: 15px;
}

.about {
    background-color: #222224;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 100vh;
}

.left-center {
    width: 40%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* order: 1; */
}

.left {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;

}

.left h1 {
    font-size: 5rem;
    font-weight: 400;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-family: 'freight-big-pro', serif;
    line-height: 80%;
}

.left p {
    line-height: 1.5rem;
    font-family: "Questrial", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 150%;
    width: 70%;
    letter-spacing: 0.05vw;

}

.right img {
    width: 400px;
    height: 400px;
    background-color: rgb(184, 176, 176);
    border-radius: 20px;
}

.whole-skill {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;

}

.skills {
    text-align: center;
    padding: 50px 0;
    height: 100vh;
}

.skills h1 {
    font-size: 5rem;
    font-weight: 400;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-family: 'freight-big-pro', serif;
    line-height: 80%;
    padding: 75px 0;
    padding-top: 40px;
}

.skil img {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.skil {
    background: #494748;
    width: 300px;
    height: 350px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.skil:hover {
    box-shadow: 5px 15px 28px 5px rgba(181, 181, 181, 0.25);

}

.skil h3 {
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-family: 'freight-big-pro', serif;
    line-height: 80%;
}

.skil p {
    padding: 10px;
    text-align: center;
    line-height: 1.5rem;
    font-family: "Questrial", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05vw;
}

.projects h1 {
    font-size: 5rem;
    font-weight: 400;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-family: 'freight-big-pro', serif;
    line-height: 80%;
    padding: 55px 0;
    text-align: center;
    margin-bottom: 60px;
}

.project-contents {
    height: 300px;
    padding: 50px 50px 36px;
    margin: 2rem 1rem 0;
    width: 25%;
    background-color: #576871;
    ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;

}

.project-contents:hover {
    box-shadow: 5px 15px 28px 5px rgba(204, 202, 202, 0.25);
}

.project-contents:hover .social-section {
    margin-bottom: 50px;
}

.social-section {
    height: 140px;
    width: 100%;
    padding: 0 3rem;
    margin: -6rem auto 2rem;
    overflow: hidden;
    margin-top: 26;
}

.social-img {
    position: relative;
    overflow: hidden;
    box-shadow: 0 15px 28px 5px rgba(0, 0, 0, .25);
    border-radius: 10px;
}

.social-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 12px solid #838383;
    border-radius: 15px;
}

.text-area {
    text-align: center;
}

.buttn a {
    display: inline-block;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    text-align: center;
    z-index: 3;
    background-color: rgba(43, 170, 226, .25);
    color: #040411;
    border: 3px solid transparent;
    transition: all .3s ease;
    box-shadow: 3px 3px 1px 0 #f2f2f2;
    position: relative;
}

.whole-project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.whole-one {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.text-area h3 {
    font-size: 1.6rem;
}

.text-area p {
    font-size: 15px;
}

.buttn a {
    font-size: 16px;
}

.contact {
    background-color: black;
    height: 400px;
    margin: 10px 0;
    border-radius: 12px;
}

.whole-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact h1 {
    color: white;
    font-weight: 600;
    font-style: normal;
    font-family: 'freight', serif;
    line-height: 80%;
    font-size: 3rem;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 55px 0;
    letter-spacing: 4px;
}

.left-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.left-contact a {
    color:  #a8c1ce;
    text-decoration: none;
}

.left-contact a:hover {
    color: #bebebe
}

.right-contact img {
    width: 350px;
}

.footer-links a {
    text-decoration: none;
    width: 45px;
    height: 45px;
    background: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer-links a:hover{
    color: #fff;
    text-shadow: 0 0 2px #fff;
    filter: none;
    fill: #fff;
}
.footer-links a img {
    width: 27px;
    height: 27px;
}

.footer-links {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.insta:hover{
    background: radial-gradient(circle at 33% 100%,#fed373 4%,#f15245 30%,#d92e7f 62%,#9b36b7 85%,#515ecf);
}
.twitter:hover{
    background:  #1D9BF0;
}
.git:hover{
    background: rgb(219, 219, 219);
}
.copy{
    text-align: center;
    color: white;
}



@media (min-width: 320px) and (max-width: 800px) {
    .nav-section{
        padding: 1rem 27px 0 27px;
    }

    .home {
        padding: 9vh 7vw; 
        /* padding-top: 30vh; */
        padding: 50px 25px;
        /* margin-top: 95px; */
        height: 100vh;
    }

    .flower-img {
        width: 100%;
    }

    .flower-img img {
        width: 100%;
        height: 400px;
        border-radius: 10px;
        text-align: left;

    }

    .flower-img {
        margin-right: 0;
    }

    .sign {
        display: none;
    }

    .name h1 {
        color: white;
        font-weight: 700;
        font-style: normal;
        font-family: 'freight', serif;
        line-height: 80%;
        font-weight: 400;
        font-size: 3rem !important;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .name {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        width: 200px;
        left: 10% !important;
        padding: 20px;
    }

    .name p {
        font-size: 17px !important;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .left-center {
        order: 1;
        width: 100% !important;
        height: auto !important;
        padding: 0 15px;
        margin-bottom: 18px;
    }

    .left p {
        padding: 10px;
        width: 100% !important;
    }

    .left h1 {
        font-size: 2.5rem !important;
        padding: 10px;
    }

    .right {
        /* padding-top: 50px; */
        border-radius: 10px;
        margin-bottom: 25px;
    }

    .right img {
        padding: 20px;
        width: 250px !important;
        height: 250px !important;
        border-radius: 20px;
    }

    .skills h1 {
        font-size: 2.5rem !important;
        padding: 0;
    }

    .whole-skill {
        flex-direction: column;
    }

    .skills {
        height: auto !important;
        padding: 0;
    }

    .skil {
        height: 350px !important;
        margin-bottom: 20px;
        width: 300px !important;
        padding: 20px !important;

    }

    .skil h3 {
        font-size: 23px;
    }

    .project-contents {
        width: 300px !important;
        /* margin: 1rem; */
        height: auto !important;
        /* padding: 95px 28px 36px !important; */
        margin: 2rem 0rem !important;
    padding: 30px 30px 36px;

    }

    .social-img {
        width: 150px !important;
        margin-top: 53px;
    }

    .whole-one {
        flex-direction: column;
        margin-bottom: 0;
    }

    .whole-project {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px 0;
    }

    .projects h1 {
        font-size: 2.4rem !important;
        margin-bottom: 0 !important;
        padding: 0 0 10px 0;
        /* padding-bottom:10px ; */
    }

    .text-area h3 {
        font-size: 1.2rem !important;
    }

    .text-area p {
        font-size: 13px !important;
    }

    .buttn a {
        font-size: 14px !important;
    }
    .whole-contact{
        flex-direction: column;
    }
    .right-contact{
        display: none;
    }
    .copy{
        padding-top: 40px;
    }
}